<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
	<Properties>
			<!--
				%d defines logging of current time.
				%t stands for the thread name
				%level will print the log level (INFO, WARN, TRACE, ...)
				%logger will print the name of the logger (e.g. doip.simulation)
				%m is the log message.
				%ex is the exception
				%n is a new line character.
			 -->
		<Property name="layout">%d{HH:mm:ss.SSS} [%-16t]  %-68logger %-12X{context} %-16level - %msg%ex{15}%n</Property>
	</Properties>
	<CustomLevels>
             <!--
                    OFF   =   0
                    FATAL = 100
                    ERROR = 200
                    WARN  = 300
                    INFO  = 400
                    DEBUG = 500
                    TRACE = 600
                    ALL   = Integer.MAX_VALUE
             -->	
         <!-- Assertions should always be visible, so we set them to level "FATAL" -->
		<CustomLevel name="ASSERTION_FAILED" intLevel="100" />
	</CustomLevels>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${layout}" />
		</Console>
		<File name="doip" fileName="./logs/doip-tester.log" append="false">
			<PatternLayout pattern="${layout}" />
		</File>
		<File name="trace" fileName="./logs/trace.log" append="false">
			<PatternLayout pattern="${layout}" />
		</File>
		<File name="info" fileName="./logs/info.log" append="false">
			<PatternLayout pattern="${layout}" />
		</File>
		<File name="error" fileName="./logs/error.log" append="false">
			<PatternLayout pattern="${layout}" />
		</File>
		<File name="uml" fileName="./logs/uml.log" append="false">
			<Filters>
				<MarkerFilter marker="UML" onMatch="NEUTRAL" onMismatch="DENY"/>
				<!--
				<ContextMapFilter onMatch="NEUTRAL" onMismatch="DENY">
					<KeyValuePair key="context" value="tester"/>>
				</ContextMapFilter>-->
			</Filters>
			<PatternLayout pattern="%msg%ex{1}%n" />
		</File>
		<Socket name="socket" host="192.168.178.1" port="13500" protocol="UDP">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-16level - %msg%ex{10}%n"/>
		</Socket>
	</Appenders>
	<Loggers>
		<Root level="TRACE"> <!-- The root logger must have level trace -->
			<AppenderRef ref="console" level="INFO"/>
			<AppenderRef ref="doip"    level="INFO"/>
			<AppenderRef ref="trace"   level="TRACE"/>
			<AppenderRef ref="info"    level="INFO"/>
			<AppenderRef ref="error"   level="ERROR"/>
	 		<AppenderRef ref="socket"  level="INFO"/>
	 		<AppenderRef ref="uml"     level="DEBUG"/>
		</Root>

		<!-- Following two classes are very verbose, we wet them to level "WARN" -->
		<!-- Possible bug will require more detailed logging -->
		<Logger name="doip.library.comm.DoipTcpStreamBuffer" level="WARN" additivity="false">
			<AppenderRef ref="console" />
 			<AppenderRef ref="doip"/>
			<AppenderRef ref="trace" />
			<AppenderRef ref="info" />
			<AppenderRef ref="error" />
	 		<AppenderRef ref="socket" level="INFO"/>
		</Logger>
		<Logger name="doip.library.util.StreamBuffer" level="WARN" additivity="false">
			<AppenderRef ref="console" />
 			<AppenderRef ref="doip"/>
			<AppenderRef ref="trace" />
			<AppenderRef ref="info" />
			<AppenderRef ref="error" />
	 		<AppenderRef ref="socket" level="INFO"/>
		</Logger>
	</Loggers>
</Configuration>
